<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Content -->
  <main class="container">
    <div class="jumbotron">
      <h10 class="display-3"> <h1> <%= title %> page</h1> </h10>
      
    </div>

    
</table>


<h2>About me</h2>
<img  src="/Assets/images/me.jpeg" height="250px" alt="profile picture">
<table>
<tr>
<td>Name: </td>
<br>
<td>Hussein Abed</td><br>
<br>

</tr>
<tr>
<td valign="top">About me: </td>
<td>


Hello there. my name is Hussein Abed. Im a student at centennial college.im currently enrolled in software engineering technician... <br>
I dont have prevous experince in this felid and never got a job related to software enginering. <br>
I learn a lot throw this course and i got friends from cultures and gained more experince.
</td>
</tr>
<tr>
  <tr>
    <td> <button type="button" class="btn btn-primary">Resume Link</button></td>
    <td><a href="https://www.docdroid.net/sVZm6Fy/randomized-resume-pdf"></a> </td>

</tr>


  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>

<img  src="/assets/images/logo.png" alt="logo">
  

<!--file name : about me  , student name: Hussein Abed , student id : 301157282 , date : 9/30/2022-->

