<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!--  Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-3">  <%= title %> page</h1>
      
    </div>

    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputname4" class="form-label">First Name</label>
        <input type="text" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputname4" class="form-label">Last Name</label>
        <input type="email" class="form-control" id="inputmame4">
      </div>
     
     
    
      <div class="col-12">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="text" class="form-control" id="inputemail2" placeholder="example@gmail.com">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="inputnumber">
      </div>


      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    <table>
      <tr>
          <br><td>  <a href="4372322343">( +1 4372327373)</a> </td>
      </tr>
      <tr>
          
          <td><a href="www.facebook.com">Facebook</a></td>
      </tr>
      <tr>
          <td><a href="www.Twitter.com">Twitter</a></td>
      
      </tr>
      <tr>
          <td><a href="smart.tech@gmail.com">smart.tech@gmail.com</a></td>

          
      </tr>

     
  </table>
  <img  src="/assets/images/logo.png" alt="logo">
    
    
    


  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  

<!--file name : contact , student name: Hussein Abed , student id : 301157282 , date : 9/30/2022-->