<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %> page</h1>
      
      
    </div>


    <div style="padding-top: 20px;">
      Welcom everybody. <br>
      
      It makes me very happy that you considered visiting my page to discover more about me.
      You can <a href="about">click here</a> to have more information.<br>
      
    
     
      </div>
      <div class="container" style="width: 50rem;">
        <img  src="/assets/images/mission.png" alt="logo">
        <div class="card-body">
          <h5 class="card-title">  My Mission</h5>
          <p class="card-text">  learing about programming and developing software engineering.
            I am interested in working and get a better career and for a company that would develop my knowledge. <br>
            I avaliable to work anywhere anytime.<br></p>
          <a href="about" class="btn btn-primary">About Me Page</a>
        </div>
      </div>
    <img  src="/assets/images/logo.png" alt="logo">
    
    
    


  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  


 <!--file name : index , student name: Hussein Abed , student id : 301157282 , date : 9/30/2022-->


