<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
      
    </div>


   
    
    <div style="padding-top: 20px;">
        <h2> Future  Projects</h2>
        <table>
            <tr>
                <td><img src="\assets\images/fast.png" height="200px"></td>
                <td>
                    <strong> Performance speed browser app </strong><br>
                    improve you internet browser speed to the max.
                    <br>
                    Role: Design
                </td>
            </tr>
            <tr>
                <td><img src="\assets\images/f1999.png" height="200px"></td>
                <td>
                    <strong>f1999</strong><br>
                    f1999 is a gaming app will be in market in 2024.
                    <br>
                    Role: Implentation
                </td>
            </tr>
            <tr>
                <td><img src="\assets\images\lapnet.png" height="200px"></td>
                <td>
                    <strong>lap net</strong><br>
                    this app wil help students with their school work
                    <br>
                    Role: Design, Documentation, Implentation
                </td>
            </tr>
        </table>
    
    <img  src="/assets/images/logo.png" alt="logo">
    
    
    


  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  

<!--file name : projects , student name: Hussein Abed , student id : 301157282 , date : 9/30/2022-->

