<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
      
    </div>
    <div style="padding-top: 20px;">
         </table>
       
      
    
    <h2>Services</h2>
    <ul class="list-group">
        <li class="list-group-item">Here is some services I provide</li>
      
        <li class="list-group-item list-group-item-primary">java programming</li>
        <li class="list-group-item list-group-item-secondary">Web development</li>
        <li class="list-group-item list-group-item-success">gaming development</li>
        <li class="list-group-item list-group-item-danger">database development</li>
        <li class="list-group-item list-group-item-warning">mobile app development</li>
        <li class="list-group-item list-group-item-info">c# prorgamming</li>
        
      </ul>
           
    <img  src="/assets/images/logo.png" alt="logo">


  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  

<!--file name : services , student name: Hussein Abed , student id : 301157282 , date : 9/30/2022-->
